In [1]:
import numpy as np
import pandas as pd
import statistics as st
import matplotlib.pyplot as plt
from scipy.stats import skew
from scipy.stats import kurtosis

In [2]:
gdp_lab = pd.read_csv("GDP_VN_An_2000_2022.csv")

In [3]:
gdp_lab

    Year     GDP
0   2000   302.0
1   2001   315.0
2   2002   340.0
3   2003   389.0
4   2004   453.0
5   2005   537.0
6   2006   624.0
7   2007   730.0
8   2008  1065.0
9   2009  1132.0
10  2010  1234.0
11  2011  1443.0
12  2012  1655.0
13  2013  1811.0
14  2014  1952.0
15  2015  2009.0
16  2016  2115.0
17  2017  2289.0
18  2018  2490.0
19  2019  2615.0
20  2020  2679.0

In [5]:
skew(gdp_lab.GDP)

0.17791634335140302

In [6]:
kurtosis(gdp_lab.GDP)

-1.3976671987462779