In [1]:
import numpy as np
import pandas as pd
import statistics as st
import matplotlib.pyplot as plt
from scipy.stats import skew
from scipy.stats import kurtosis

In [2]:
en= pd.read_csv("EnergyCSV.csv")

In [3]:
en

    Respondent  Gender Brand Preference
0            1    Male          Brand 3
1            2  Female          Brand 3
2            3    Male          Brand 3
3            4    Male          Brand 1
4            5    Male          Brand 1
..         ...     ...              ...
95          96    Male          Brand 1
96          97    Male          Brand 3
97          98  Female          Brand 3
98          99    Male          Brand 2
99         100  Female          Brand 1

[100 rows x 3 columns]

In [10]:
chisqt=pd.crosstab(en.Gender, en['Brand Preference'])
print(chisqt)

Brand Preference  Brand 1  Brand 2  Brand 3
Gender
Female                  9        6       22
Male                   25       17       21

In [13]:
c, p, dof, expected =stats.chi2_contingency(chisqt)
print(p)

0.038921342064441915

In [12]:
import scipy.stats as stats