In [1]:
import numpy as np
import pandas as pd
import statistics as st
import matplotlib.pyplot as plt
from scipy.stats import skew
from scipy.stats import kurtosis

In [3]:
df= pd.read_csv("Insurance Survey_CSV.csv")

In [4]:
df

,Age,Gender,Education,Marital Status,Years Employed,Satisfaction*,Premium/Deductible**
0,36,F,Some college,Divorced,4,4,N
1,55,F,Some college,Divorced,2,1,N
2,61,M,Graduate degree,Widowed,26,3,N
3,65,F,Some college,Married,9,4,N
4,53,F,Graduate degree,Married,6,4,N
5,50,F,Graduate degree,Married,10,5,N
6,28,F,College graduate,Married,4,5,N
7,62,F,College graduate,Divorced,9,3,N
8,48,M,Graduate degree,Married,6,5,N
9,31,M,Graduate degree,Married,1,5,N
10,57,F,College graduate,Married,4,5,N
11,44,M,College graduate,Married,2,3,N
12,38,M,Some college,Married,3,2,N
13,27,M,Some college,Married,2,3,N
14,56,M,Graduate degree,Married,4,4,Y
15,43,F,College graduate,Married,5,3,Y
16,45,M,College graduate,Married,15,3,Y
17,42,F,College graduate,Married,12,3,Y
18,29,M,Graduate degree,Single,10,5,N
19,28,F,Some college,Married,3,4,Y
20,36,M,Some college,Divorced,15,4,Y
21,49,F,Graduate degree,Married,2,5,N
22,46,F,College graduate,Divorced,20,4,N
23,52,F,College graduate,Married,18,2,N

In [5]:
stat, p = levene(Satisfaction*, Educationcenter = ‘mean’)
print(stat, p)
//stat: Giá trị kiểm định Levene W
//p: Giá trị p-value

SyntaxError: invalid syntax (3260929332.py, line 1)

In [10]:
df2=df.groupby('Education')['Satisfaction* '].apply(list)
print(df2)

Education
College graduate    [5, 3, 5, 3, 3, 3, 3, 4, 2]
Graduate degree        [3, 4, 5, 5, 5, 4, 5, 5]
Some college              [4, 1, 4, 2, 3, 4, 4]
Name: Satisfaction* , dtype: object

In [11]:
from scipy.stats import levene

In [12]:
stat, p = levene(Satisfaction*, Educationcenter = ‘mean’)
print(stat, p)
//stat: Giá trị kiểm định Levene W
//p: Giá trị p-value

SyntaxError: invalid syntax (3260929332.py, line 1)

In [15]:
stat,p = levene(*df2,center='mean')
print(stat, p)

0.9433580072525427 0.40520616699352924

In [16]:
import scipy.stats as stats

In [18]:
fvalue, pvalue = stats.f_oneway(*df2)
print(fvalue, pvalue)

3.9246517319277117 0.03563539756488997

In [19]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

ModuleNotFoundError: No module named 'statsmodels'

In [22]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
tukey = pairwise_tukeyhsd(endog=df['Satisfaction* '],
groups=df.Education,
alpha=0.05)
print(tukey)

          Multiple Comparison of Means - Tukey HSD, FWER=0.05
=======================================================================
     group1           group2     meandiff p-adj   lower   upper  reject
-----------------------------------------------------------------------
College graduate Graduate degree   1.0556 0.1003 -0.1715  2.2826  False
College graduate    Some college  -0.3016 0.8231 -1.5742  0.9711  False
 Graduate degree    Some college  -1.3571 0.0409 -2.6641 -0.0502   True
-----------------------------------------------------------------------